# Ignore virtual environment
.venv/

# Ignore Python bytecode/cache
__pycache__/

# Ignore environment/config files
.env

#Log Files
*.log

# Ignore Chroma database (runtime-generated)
chroma_db/

# Ignore activation scripts (optional)
activate.bat